body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    flex-direction: column;
    padding: 0 10vw;
}

nav {
    width: 99.4vw;
    height: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
}

#button__next--home-page {}

#button__next--game-page {}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreBoard {

}

.scoreBoard__score--display {

}

.scoreBoard__score--button-increase {

}

.scoreBoard__score--button-decrease {

}

.button__general--style {
    border-radius: 25px;
    padding: 3px 9px;
}

.game__container {

}

.game__container--game-start-actions {
    flex-direction: column;
}

.game__container--button-start {

}

.game__container--game-board {
    background-color: mediumseagreen;
    height: 25vw;
    width: 80vw;
    height: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 565px;
    border-bottom-left-radius: 565px;
}

.game__container--game-board-dealer {
    background-color: aqua;
    /* height: 5vw; */
    height: 20%;
    width: 95%;
}

.game__container--game-board-additional_players {
    background-color:goldenrod;
    /* height: 10vw; */
    height: 40%;
    width: 94%;
    border-bottom-left-radius: 283px;
    border-bottom-right-radius: 283px;
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
}

.game__container--game-board-additional_players_display-left {

}
.game__container--game-board-dealer {

}

.game__container--game-board-additional_players_display-center {
    justify-content: space-around;
    flex-direction: column;
}

.game__container--game-board-additional_players_display-center--actions {

}

.game__container--game-board-additional_players_display-right {

}

.game__container--game-board-player {
    background-color: #9b5656;
    /* height: 5vw; */
    height: 20%;
    width: 32%;
}






/* These classes must stay at bottom of file or they will be overridden */
.hide {
    display: none;
    /* visibility: hidden; */
}

.show {
    display: unset;
    /* visibility: visible; */
}
