body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    flex-direction: column;
}

nav {
    width: 99.4vw;
    height: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
}

#button__next--home-page {
    border-radius: 25px;
    padding: 3px 9px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreBoard {

}

.scoreBoard__score--display {

}

.scoreBoard__score--button-increase {

}

.scoreBoard__score--button-decrease {

}