body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    flex-direction: column;
}

nav {
    width: 99.4vw;
    height: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
}

#button__next--home-page {}

#button__next--game-page {}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
    /* visibility: hidden; */
}

.show {
    display: unset;
    /* visibility: visible; */
}

.scoreBoard {

}

.scoreBoard__score--display {

}

.scoreBoard__score--button-increase {

}

.scoreBoard__score--button-decrease {

}

.button__general--style {
    border-radius: 25px;
    padding: 3px 9px;
}

.game__container {

}

.game__container--game-start-actions {
    flex-direction: column;
}

.game__container--button-start {

}

.game__container--game-content {

}